.box_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    margin-bottom: 70px;

    .box_top_left {
        text-align: left;
        width: 40%;

        .box_p {
            font-family: 'Yellowtail';
            font-size: 36px;
            color: #68A47F;
        }

        .box_strong {
            font-family: 'Roboto';
            font-size: 42px;
            color: #274C5B;
        }
    }

    .card_button {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 700;
        color: #274C5B;
        padding: 10px;
        height: 69px;
        width: 18%;
        border-radius: 18px;
        border: #274C5B solid 2px;
        background-color: white;
        margin-top: 10px;

        .Icon {
            background-color: #274C5B;
            color: white;
            border-radius: 50%;
            padding: 3px;
            font-size: 16px;
        }
    }

    .card_button:hover {
        background-color: #274C5B;
        border: white solid 2px;
        color: white;
    }
}

.box_btm {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .box_btm_item {
        width: 45%;
        position: relative;

        .image {
            width: 100%;
            border-radius: 30px;
        }

        .box_btm_items {
            position: absolute;
            bottom: -15px;
            width: 85%;
            background-color: #FFFFFF;
            border-radius: 20px;
            padding: 20px;
            left: 4%;

            .box_btm_items_top {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                  .icon{
                    color: #3f4e4b;
                    margin-right: 10PX;
                  }
                .box_btm_p {
                    font-family: 'Roboto';
                    font-size: 18px;
                    color: #274C5B;
                }
            }
            .box_strong{
                font-family: 'Roboto';
                font-size: 24px;
                color: #274C5B;
            }
            .box_btmm_p {
                font-family: 'Roboto';
                font-size: 18px;
                color: #274C5B;
                line-height: 25px;
                margin-top: 10px;
            }
            .box_button {
                display: flex;
                align-items: center;
                justify-content: space-around;
                font-family: 'Roboto';
                font-size: 18px;
                font-weight: 500;
                color: #274C5B;
                padding: 10px;
                height: 69px;
                width: 28%;
                border-radius: 18px;
                background-color: white;
                margin-top: 10px;
        
                .Icon {
                    background-color: #274C5B;
                    color: white;
                    border-radius: 50%;
                    padding: 3px;
                    font-size: 16px;
                }
            }
        }
    }
}
