.section_offer{
    width: 100%;
    background-color: #274C5B;
    .box_top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 60px;
        .box_top_left{
            display: block;
            .box_p{
                font-family: 'Yellowtail';
                font-size: 36px;
                color: #68A47F;
            }
            .box_strong{
                font-family: 'Roboto';
                font-size: 36px;
                color: #FFFFFF;
            }
        }
        .card_button{
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-family: 'Roboto';
            font-size: 22px;
            font-weight: 700;
            color: #274C5B;
            padding: 10px;
            height: 69px;
            width: 18%;
            border-radius: 18px;
            border: none;
            background-color: #EFD372;
            margin-top: 10px;
            .Icon{
                background-color: #274C5B;
                color: rgb(255, 255, 255);
                border-radius: 50%;
                padding: 3px;
                font-size: 16px;
            }
        }
        .card_button:hover{
            background-color: white;
            border: #EFD372 solid 2px ;
        }
    }
    .box_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 100px;
    
        .box_item {
            width: 21%;
            background-color: #ffffff;
            border-radius: 30px;
            padding: 20px;
            border: #F9F8F8 solid 3px;
            margin-top: 20px;
            margin-bottom: 100px;
            .box_img{
                height: 300px;
            }
            .box_item_top {
                width: 25%;
                text-align: center;
                border-radius: 10px;
                font-family: 'Roboto';
                font-size: 16px;
                padding: 8px;
                background-color: #274b5c;
                color: white
            }
    
            .box_p {
                font-family: 'Roboto';
                font-size: 26px;
                font-weight: 700;
                color: #274b5c;
                margin-bottom: 10px;
            }
    
            .box_hr {
                background-color: #DEDDDD;
                width: 100%;
                margin-top: 25px;
            }
    
            .box_bottom {
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                .box_bottom_left {
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    .box_bottom_p {
                        font-family: 'Roboto';
                        font-size: 20px;
                        font-weight: 500;
                        color: #9f9f9f;
                    }
                    .box_bottom_strong {
                        font-family: 'Roboto';
                        font-size: 26px;
                        font-weight: 700;
                        color: #274b5c;
                        margin-left: 10px;
                    }
                }
                .box_start{
                    color: hsl(29, 100%, 67%);
                }
            }
        }
    }
}